.road {
  position: absolute;
  background-color: grey;
}

.horizontal {
  height: 50px;
  width: 100%;
  top: 47%;
}

.vertical {
  height: 100%;
  width: 50px;
  left: 47%;
}

.intersection {
  position: absolute;
  width: 100%;
  height: 100%;
}

.stoplight {
  position: absolute;
  height: 100px;
  width: 50px;
  background-color: black;
}

.west {
  bottom: 56%;
  right: 66%;
  transform: rotate(270deg);
}

.north {
  bottom: 63%;
  left: 60%;
}

.blinker {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 12px;
  border-radius: 50%;
}

.green {
  background-color: green;
  top: 70px;
}

.yellow {
  background-color: yellow;
  top: 40px;
}

.red {
  background-color: red;
  top: 10px;
}
